/* OPSTA PODESAVANJA -----------------------------------------------------------------*/

* {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #ddd;
}

.sajt {
  max-width: 1600px;
  background-color: rgba(20, 21, 24, 0.5);
  margin: 0 auto;
}

body {
  background-color: #1e2023;
  background-image: url("media/tile.jpg");
  color: #dddddd;
  margin: 0px;
  padding: 0px;
}

#bgimg {
  position: fixed;
  opacity: 0.3;
  margin: 20px;
  z-index: -2;
}

textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

hr {
  border: 0.5px solid #34373c;
  margin-bottom: 20px;
}

a {
  padding: 20px 0px;
  text-align: center;
  color: #dddddd;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1px;
}

input {
  padding-left: 10px;
}

input::placeholder {
  color: #dddddd;
}

img {
  width: 100%;
}

/* HEADER ---------------------------------------------------------------------------*/

.header {
  display: grid;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px 40px;
  font-weight: 400;
}

/* LOGIN BOX ----------------------------------------------------------------------------*/

.log-burger {
  overflow: hidden;
  background-color: #1e2023;
  position: relative;
  margin-bottom: 30px;
}

.log-burger #login-box {
  display: none;
}

.log-burger a {
  color: #dddddd;
  padding: 10px 16px;
  height: 34px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.log-burger a.icon {
  background: #1e2023;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.log-burger a:hover {
  background-color: #1e2023;
  color: #dddddd;
}

.nav-title {
  background-color: #141518;
  color: white;
}

.login-fields {
  display: grid;
  margin: 20px;
}

.login-polje {
  background-color: rgba(18, 19, 21, 0.7);
  color: #dddddd;
  border: 0.5px solid #27292b;
  height: 30px;
  margin: 10px 0px 10px 0px;
}

.login-dugme {
  background-color: #c44611;
  color: #ddd;
  margin: 15px 0px 5px 0px;
  border: 0px;
  height: 36px;
}

/* ZAMENA TEME ------------------------------------------------------------------------- */

.izbor-teme-tekst {
  text-align: center;
  margin-bottom: 10px;
}

.zamena-kolorita {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-bottom: 20px;
}

#tamno-dugme {
  padding: 10px 20px;
  background-color: #1e2023;
  color: #ddd;
  border: 0px;
  width: 80px;
  margin: 0 2px;
}

#svetlo-dugme {
  padding: 10px 20px;
  background-color: #1e2023;
  color: #ddd;
  border: 0px;
  width: 80px;
  margin: 0 2px;
}

#tamno-dugme:hover {
  background-color: #c44611;
}

#svetlo-dugme:hover {
  background-color: #c44611;
}

/* LOGO ---------------------------------------------------------------------- */

#logotip {
  display: grid;
  margin: 10px auto 10px auto;
  background-image: url("media/logo.png") no-repeat;
  max-width: 360px;
}

/* FILTERI ---------------------------------------------------------------------- */

.filteri {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin: 40px auto;
  min-width: 200px;
}

.pretrazivac {
  display: grid;
  grid-template-columns: auto auto;
  height: 32px;
  min-width: 200px;
}

#kriterijum {
  background-color: rgba(18, 19, 21, 0.7);
  color: #dddddd;
  border: 0.5px solid #27292b;
  min-width: 168px;
}

.input-polje {
  display: grid;
}

#input-dugme {
  background-color: #c44611;
  background-image: url("media/trazi.png");
  width: 32px;
  height: 32px;
  border: 1px solid #c44611;
  cursor: pointer;
  right: 0px;
}

/* SORTIRANJE ---------------------------------------------------------------------- */

.sortiranje {
  width: 100%;
  margin-top: 20px;
  border: 0.5px solid #27292b;
  padding: 10px;
}

#sort1 {
  display: grid;
  grid-template-columns: auto 38px 32px;
  margin-bottom: 20px;
  padding-top: 10px;
}

#sort2 {
  display: grid;
  grid-template-columns: auto 38px 32px;
}

#sort1>button,
#sort2>button {
  background-color: #141518;
  border: 0.5px solid #27292b;
  color: #ddd;
  margin: -10px 0px 0px 0px;
  width: 32px;
  height: 32px;
}

/* NAV BURGER ----------------------------------------------------------------------- */

.topnav {
  overflow: hidden;
  background-color: #1e2023;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #dddddd;
  padding: 14px 16px;
  height: 44px;
  text-decoration: none;
  display: block;
}

#myLinks a {
  background-color: #383b40;
  margin-bottom: 1px;
}

.topnav a.icon {
  background: #1e2023;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #1e2023;
  color: #dddddd;
}

.nav-title {
  background-color: #141518;
  color: white;
}

/* BODY -------------------------------------------------------------------------- */

/* DOBRO DOSLI -------------------------------------------------------------------------- */

.dobrodoslica {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 20px;
  margin: 40px 40px;
  font-size: 30px;
}

/* PRETRAGA -------------------------------------------------------------------------- */

.film-omot {
  background-color: rgba(18, 19, 21, 0.8);
  margin-top: 40px;
}

.film-box {
  border: 0px solid #151719;
  padding: 40px;
}

.solo-film {
  width: 100%;
  max-width: 400px;
  border: 1px solid #34373c;
  position: relative;
  padding: 20px;
  margin: 0 auto;
}

#prikaz {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 40px;
  grid-auto-flow: dense;
}

.naslov {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 10px;
}

/* DODAJ FILM -------------------------------------------------------------------------- */

.nosac-forme {
  display: grid;
  grid-template-columns: auto;
  max-width: 400px;
  background-color: rgba(18, 19, 21, 0.7);
  border: 0px solid;
  margin: 40px auto;
}

.nosac-polja {
  padding: 40px 40px 40px 40px;
}

.nosac-slike {
  border: 1px solid #34373c;
  margin: 40px 40px 0px 40px;
  padding: 10px;
}

#naziv,
#godina,
#slika {
  background-color: rgba(18, 19, 21, 0.7);
  color: #dddddd;
  border: 0.5px solid #27292b;
  width: 100%;
  height: 36px;
  margin-bottom: 10px;
  z-index: 2;
}

#df-submit {
  background-color: rgb(195, 69, 17);
  color: #dddddd;
  width: 100%;
  margin: 20px 0;
  padding: 16px 40px;
  text-transform: uppercase;
  border: 0px solid #707175;
  cursor: pointer;

}

#df-submit:hover {
  background-color: #707175;
}

/* PAGINACIJA ------------------------------------------------------------------------*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginer {
  background: #ddd;
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 0.2rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  counter-reset: pagination;
  text-align: center;
}

.paginer:after {
  clear: both;
  content: "";
  display: table;
}

.paginer ul {
  width: 100%;
}

.xsmall {
  width: 14rem;
}

ul,
li {
  list-style: none;
  display: inline;
  padding-left: 0px;
}

li {
  counter-increment: pagination;
}

li:hover a {
  color: #ffffff;
  background-color: #1d1f20;
  border: solid 1px #1d1f20;
}

li.active a {
  color: #ffffff;
  background-color: #141518;
  border: solid 1px #141518;
}

li:first-child {
  float: left;
}

li:first-child a:after {
  content: "Previous";
}

li:nth-child(2) {
  counter-reset: pagination;
}

li:last-child {
  float: right;
}

li:last-child a:after {
  content: "Next";
}

li a {
  background-color: #c44611;
  border: solid 1px #c44611;
  border-radius: 0.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}

li a:after {
  content: " "counter(pagination) " ";
}

.xsmall li {
  display: none;
}

.xsmall li.active {
  display: inline;
}

.xsmall li:first-child {
  display: inline;
}

.xsmall li:first-child a:after {
  content: "Prev";
}

.xsmall li:last-child {
  display: inline;
}

.xsmall li:last-child a:after {
  content: "Next";
}

/* FOOTER -------------------------------------------------------------------------- */

.linija1 {
  width: 100%;
  height: 1px;
  background-color: #f85d00;
}

.linija2 {
  width: 100%;
  height: 4px;
  background-color: #f85d00;
}

footer>div {
  display: grid;
  justify-content: center;
  width: 100%;
  padding: 80px 40px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.8;
}



/* SCREENS -------------SCREENS---------------SCREENS---------------------------------------------- */



@media only screen and (min-width: 320px) {

  .nosac-slike {
    padding: 20px;
  }

  .input-polje {
    min-width: 180px;
  }

}



/* SCREENS -------------SCREENS---------------SCREENS---------------------------------------------- */



@media only screen and (min-width: 480px) {

  .input-polje {
    min-width: 280px;
  }

}



/* SCREENS -------------SCREENS---------------SCREENS---------------------------------------------- */



@media only screen and (min-width: 1280px) {

  /* HEADER ---------------------------------------------------------------------------*/

  .header {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    height: 247px;
    padding: 0px 40px;
  }

  /* TOP BAR ------------------------------------------------------------------------- */

  .top-bar {
    position: absolute;
    background-color: #141518;
    width: 100%;
    height: 35px;
  }

  /* ZAMENA TEME ------------------------------------------------------------------------- */

  .tema {
    display: grid;
    grid-template-columns: auto auto;
  }

  .izbor-teme-tekst {
    position: absolute;
    padding-top: 10px;
    left: 40px;
  }

  .zamena-kolorita {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-bottom: 20px;
    left: 120px;
  }

  #tamno-dugme {
    padding: 6px 16px;
    background-color: #1e2023;
    color: #ddd;
    border: 0px;
    margin-top: 4px;
  }

  #svetlo-dugme {
    padding: 6px 20px;
    background-color: #1e2023;
    color: #ddd;
    border: 0px;
    margin: 4px 0 0 4px;
  }

  /* LOGIN BOX ----------------------------------------------------------------------------*/

  .log-burger {
    overflow: hidden;
    background-color: #141518;
    position: absolute;
    margin-bottom: 30px;
    min-width: 280px;
    right: 40px;
    z-index: 1;
  }

  .log-burger a.icon {
    background: #1e2023;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }

  .log-burger a.icon:hover {
    background: #c44611;
  }

  .log-burger a:hover {
    background-color: #141518;
    color: #dddddd;
  }

  a.log-title {
    text-transform: initial;
    font-size: 13px;
    margin-left: 120px;
  }

  .login-dugme {
    background-color: #383b40;
    color: #ddd;
    margin: 10px 0px 5px 0px;
    border: 0px;
    height: 36px;
  }

  .login-dugme:hover {
    background-color: #c44611;
    color: #ddd;
  }

  /* LOGO ---------------------------------------------------------------------- */

  #logotip {
    display: grid;
    margin: 75px auto 0px auto;
    background-image: url("media/logo.png") no-repeat;
    max-width: 360px;
  }

  /* FILTERI ---------------------------------------------------------------------- */

  .filteri {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 32px;
  }

  .pretrazivac {
    display: grid;
    grid-template-columns: auto 32px;
    height: 32px;
    width: 280px;
    margin-right: 22px;
  }

  #input-dugme:hover {
    background-color: #61656d;
    border: 1px solid #61656d;
  }

  /* SORTIRANJE ---------------------------------------------------------------------- */

  .sortiranje {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 40px;
    margin-top: 0px;
    height: 34px;
    border: none;
  }

  #sort1 {
    display: grid;
    grid-template-columns: auto 38px 32px;
    padding-top: 0px;
  }

  #sort2 {
    display: grid;
    grid-template-columns: auto 38px 32px;
    margin-left: 40px;
  }

  #sort1>button,
  #sort2>button {
    cursor: pointer;
  }

  #sort1>button:hover,
  #sort2>button:hover {
    background-color: #c44611;
  }

  /* NAVIGACIJA ----------------------------------------------------------------------- */

  .topnav {
    overflow: hidden;
    background-color: #141518;
    position: relative;
    height: 44px;
  }

  .topnav #myLinks {
    display: inline-block;
  }

  .topnav a {
    display: none;
  }

  #myLinks a {
    display: inline-block;
    background-color: #383b40;
    margin-bottom: 1px;
  }

  #myLinks a:hover {
    background-color: #61656d;
  }

  #myLinks {
    margin-left: 40px;
  }

  .topnav a.icon {
    display: none;

  }

  .topnav a:hover {
    background-color: #1e2023;
    color: #dddddd;
  }

  .nav-title {
    display: none;
  }

  /* PRETRAGA -------------------------------------------------------------------------- */

  .film-omot {
    margin: 40px;
  }

  #prikaz {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .naslov {
    font-size: 13px;
    font-weight: 300;
    padding: 10px;
  }

  /* DODAJ FILM -------------------------------------------------------------------------- */

  .nosac-forme {
    display: grid;
    grid-template-columns: 340px 480px;
    max-width: 840px;
  }

  .nosac-slike {
    margin: 40px 20px 40px 40px;
    padding: 20px;
    width: 280px;
  }

  .nosac-polja {
    padding: 40px 40px 40px 20px;
    margin-left: 0px;
    width: 480px;
  }

  .dodavanje {
    width: 440px;
  }

  #naziv,
  #godina {
    margin-bottom: 20px;
  }

  #slika {
    margin-bottom: 10px;
  }

}